body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

p {

}

.wnumberInput {
  display: inline;
}

/* Hiding arrows on number input */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance:textfield;
}

img {
  max-height: 20px;
  max-width: 20px;
}

#studentCountDiv #nonStudentCountDiv img{
  display: inline;
}
